<%- include('./header.ejs') %>
    <section>
        <div id="banner">
            <div class="banner">
                <p class="banner_header">사람들이 어려워할만한 기사의 이해를
                    <br>퀴즈 풀기 경쟁으로 촉진한다</p>
                <p class="banner_content">XXX는 독자의 적극적인 참여유도를 위하
                    <br>고안된 퀴즈기반 플랫폼입니다.</p>
            </div>
            <div class="trend">
                <p class="trend_header">트렌디한 기사는...</p>
                <a class="trend_content">잘가라 비트코인</a>
            </div>
        </div>
        <div id="section">
            <div id="wrapper_wrapper">
                <% quizList.forEach(v => {%>
                    <div class="section_wrapper">
                        <a href="/quiz/<%=v._id%>" class="un">
                            <p class="wrapper_category">
                                <%=v.categoryType%>
                            </p>
                            <p class="wrapper_header">
                                <%=v.title%>
                            </p>
                            <p class="wrapper_question">
                                <%=v.content%>
                            </p>
                            <p class="wrapper_tag">
                                <%=v.tag%>
                            </p>
                            <img src="<% if ('imageUrl' in v) { %><%=v.imageUrl%><%}else{%>/css/image/bg.jpg<%}%>" alt="이미지를 정상적으로 불러오지 않습니다." class="wrapper_image">
                        </a>
                    </div>
                    <% }) %>
            </div>
            <div id="ranking">
                <p class="ranking_category">유저 랭킹</p>
                <ol class="ranking_list">
                    <% userList.forEach(v => { %>
                    <li>
                        <p class="ranking_name"><%=v.nickname%></p>
                        <p class="ranking_score"><%=v.vns%> / <%=v.chd%></p>
                    </li>
                    <% }) %>
                </ol>
                <div class="login_box">
                    <a href="javascript:void(0)" class="login">로그인 후 랭킹을 확인하실 수 있습니다.</a>
                </div>
            </div>
        </div>
    </section>
    <%- include('./footer.ejs') %>