<%- include('./header.ejs') %>
    <section>
        <div id="quiz_section">
            <div class="quiz_wrapper">
                <div class="quiz_category">
                    <%= quiz.categoryType %>
                </div>
                <div class="quiz_header">
                    <%= quiz.title %>
                </div>
                <div class="quiz_content">
                    <%= quiz.content %>
                </div>
                <div class="quiz_link">기사링크:
                    <a href="<%= quiz.link %>">
                        <%= quiz.link %>
                    </a>
                </div>
                <div class="quiz_tag">
                    <%=quiz.tag%>
                </div>
            </div>
            <div class="answer_wrapper">
                <form action="/quiz/<%=quizId%>" method="get">
                    <% if (quiz.resultType == 2) { %>
                        <div class="answer_input">
                            <p class="texttext">기사 읽기 전</p>
                            <input type="text" placeholder="답변" name="result3">
                        </div>
                        <% } %>
                            <% if (quiz.resultType == 1) { %>
                                <p class="texttext">기사 읽기 전</p>
                                <% quiz.result.forEach(v => {%>
                                    <div class="radio">
                                        <input type="radio" id="<%=v.replace('(', '').replace(')', '')%>" name="result2" value="<%=v.replace('(', '').replace(')', '')%>">
                                        <label for="<%=v.replace('(', '').replace(')', '')%>">
                                            <%=v.replace('(', '').replace(')', '')%>
                                        </label>
                                    </div>
                                    <% }) %>
                                        <% } %>
                                            <% if (quiz.resultType == 0) { %>
                                                <div class="ox">
                                                    <p class="texttext">기사 읽기 전</p>
                                                    <a href="javascript:void(0)" class="oooo">O</a>
                                                    <a href="javascript:void(0)" class="xxxx">X</a>
                                                    <input type="hidden" name="result1">
                                                </div>
                                                <% } %>
                                                    <% if (quiz.resultType == 2) { %>
                                                        <div class="answer_input">
                                                            <p class="texttext">기사 읽은 후</p>
                                                            <input type="text" placeholder="답변" name="result6">
                                                        </div>
                                                        <% } %>
                                                            <% if (quiz.resultType == 1) { %>
                                                                <p class="texttext">기사 읽은 후</p>
                                                                <% quiz.result.forEach(v => {%>
                                                                    <div class="radio">
                                                                        <input type="radio" id="<%=v.replace('(', '').replace(')', '')%>1" name="result5" value="<%=v.replace('(', '').replace(')', '')%>">
                                                                        <label for="<%=v.replace('(', '').replace(')', '')%>1">
                                                                            <%=v.replace('(', '').replace(')', '')%>
                                                                        </label>
                                                                    </div>
                                                                    <% }) %>
                                                                        <% } %>
                                                                            <% if (quiz.resultType == 0) { %>
                                                                                <div class="ox">
                                                                                    <p class="texttext">기사 읽은 후</p>
                                                                                    <a href="javascript:void(0)" class="oooo">O</a>
                                                                                    <a href="javascript:void(0)" class="xxxx">X</a>
                                                                                    <input type="hidden" name="result4">
                                                                                </div>
                                                                                <% } %>
                                                                                    <button class="answer_submit">전송</button>
                </form>
            </div>
        </div>
    </section>
    <script>
        $('.oooo').on('click', function () {
            $(this).parent().children('input').attr('value', 'O')
        })
        $('.xxxx').on('click', function () {
            $(this).parent().children('input').attr('value', 'X')
        })
    </script>
    <%- include('./footer.ejs') %>